.nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
}
.dark-nav {
  background-color: #212121;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
}
.nav-icons-container {
  display: flex;
  align-items: center;
}
ul {
  padding: 0;
  list-style: none;
}
.nav-icon-li {
  margin-right: 20px;
}
.theme-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 25px;
  color: black;
}
.dark-theme-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 25px;
  color: white;
}
.profile-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.nav-profile-icon-li {
  display: none;
  margin-right: 20px;
}
.nav-bars-icon-li {
  margin-right: 20px;
}
.active-bar {
  color: red;
}
.nav-logout-btn-li {
  display: none;
}
.logout-btn {
  border: 1px solid #3b82f6;
  color: #3b82f6;
  background-color: transparent;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 13px;
  font-family: 'roboto';
  outline: none;
  cursor: pointer;
}
.dark-logout-btn {
  border: 1px solid white;
  color: white;
  background-color: transparent;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 13px;
  font-family: 'roboto';
  outline: none;
  cursor: pointer;
}
.bar-routes-div-container {
  width: 100%;
}
.popup {
  background-color: white;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
}
.dark-popup {
  background-color: #212121;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
}
.popup-text {
  color: #212121;
  font-size: 18px;
  font-family: 'roboto';
}
.dark-popup-text {
  color: white;
  font-size: 18px;
  font-family: 'roboto';
}
.popup-btns-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.cancel-btn {
  border: 1px solid #212121;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: transparent;
  color: #212121;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-family: 'roboto';
  margin-right: 20px;
}
.dark-cancel-btn {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-family: 'roboto';
  margin-right: 20px;
}
.conform-btn {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #3b82f6;
  color: white;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-family: 'roboto';
}

@media (min-width: 768px) {
  .bar-routes-div-container {
    display: none;
  }
  .nav-profile-icon-li {
    display: inline;
  }
  .nav-bars-icon-li {
    display: none;
  }
  .nav-logout-icon-li {
    display: none;
  }
  .nav-logout-btn-li {
    display: inline;
  }
}
