.login-bg-container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.dark-login-bg-container {
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.form-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 50px;
}
.dark-form-container {
  background-color: #212121;
  padding: 20px;
  border-radius: 50px;
}
form {
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  background-color: white;
  font-family: roboto;
}
.dark-form {
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  background-color: black;
  font-family: roboto;
  border-radius: 7px;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
.website-logo {
  width: 150px;
  margin-bottom: 30px;
}
label {
  color: gray;
  font-size: 12px;
  font-weight: bold;
}
.dark-label {
  color: white;
  font-size: 12px;
  font-weight: bold;
}
.user-input {
  min-width: 300px;
  padding: 10px 15px;
  color: gray;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 25px;
  border: 0.5px solid gray;
  outline: none;
  background-color: transparent;
}
.checkbox-container {
  display: flex;
  align-items: center;
}
.login-btn {
  background-color: #3b82f6;
  color: white;
  font-size: 15px;
  width: 100%;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 8px;
  margin-top: 15px;
  margin-bottom: 30px;
}
.error-msg {
  color: red;
  font-size: 12px;
}
@media (max-width: 576px) {
  .user-input {
    min-width: 100%;
  }
  .form-container {
    width: 100%;
  }
  .dark-form-container {
    width: 100%;
  }
}
